body {
    width: 100%;
    background: url(./img/batman.jpeg);
    background-size: 135%;
    box-sizing: border-box;
}

.slider {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: 40px auto;
    position: relative;
}
  

.slider-inner {
    border-radius: 20px;
    overflow: hidden;
}

.slider-slides {
    display: flex;
    width: 600%;
    transition: transform 0.2s ease;
}

.slider-slides img {
    width: 1728px;
    height: 864px;
}
.slider-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.text-inner {
    overflow: hidden;
    width: 17.5%;
}
.text-texts {
    display: flex;
    width: 600%;
    transition: transform 0.3s ease;
}
p {
    width: 100%;
    font-size: 32px;
    margin: 0;
    color: white;
}
.slider input[type="radio"] {
    display: none;
}
  
.slider-controls {
    margin-bottom: 10px;
    text-align: right;
}
  
.slider-controls label {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #0046af;
    border-radius: 50%;
    background-color: #0046af;
    cursor: pointer;
    transition: background-color 0.2s;
}
.slider-controls label:hover {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    transition: background-color 0.2s;
}
.slider-controls label:active {
    background-color: #4d94ff;
    
}
  
#btn-1:checked ~ .slider-wrapper .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-wrapper .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-wrapper .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-wrapper .slider-controls label[for="btn-4"] {
    background-color: #343434;
}
  
  
#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}
  
#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-1728px);
}
  
#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-3456px);
}

#btn-4:checked ~ .slider-inner .slider-slides {
    transform: translate(-5184px);
}
#btn-5:checked ~ .slider-inner .slider-slides {
    transform: translate(-6913px);
}
#btn-6:checked ~ .slider-inner .slider-slides {
    transform: translate(-8634px);
}
#btn-1:checked ~ .slider-wrapper .text-inner .text-texts {
    transform: translate(0);
}
#btn-2:checked ~ .slider-wrapper .text-inner .text-texts {
    transform: translate(-300px);
}
#btn-3:checked ~ .slider-wrapper .text-inner .text-texts {
    transform: translate(-600px);
}
#btn-4:checked ~ .slider-wrapper .text-inner .text-texts {
    transform: translate(-900px);
}
#btn-5:checked ~ .slider-wrapper .text-inner .text-texts {
    transform: translate(-1200px);
}
#btn-6:checked ~ .slider-wrapper .text-inner .text-texts {
    transform: translate(-1500px);
}
@media screen and (max-width: 767px) {
    .slider {
        height: 310px;
    }
    .slider-wrapper {
        flex-direction: column-reverse;
    }
    .slider-slides img {
        width: 17%;
        height: 200px;
    }
    .slider-controls {
        text-align: center;
        margin-bottom: 20px;
    }
    .text-inner {
        width: 30%;
    }
    p {
        font-size: 1em;
    }
    .slider-controls label {
        width: 10px;
        height: 10px;
    }
    
      
    #btn-2:checked ~ .slider-inner .slider-slides {
        transform: translate(-17%);
    }
      
    #btn-3:checked ~ .slider-inner .slider-slides {
        transform: translate(-34%);
    }
    
    #btn-4:checked ~ .slider-inner .slider-slides {
        transform: translate(-51%);
    }
    #btn-5:checked ~ .slider-inner .slider-slides {
        transform: translate(-68%);
    }
    #btn-6:checked ~ .slider-inner .slider-slides {
        transform: translate(-85%);
    }
    
    #btn-2:checked ~ .slider-wrapper .text-inner .text-texts {
        transform: translate(-16%);
    }
    #btn-3:checked ~ .slider-wrapper .text-inner .text-texts {
        transform: translate(-33%);
    }
    #btn-4:checked ~ .slider-wrapper .text-inner .text-texts {
        transform: translate(-49%);
    }
    #btn-5:checked ~ .slider-wrapper .text-inner .text-texts {
        transform: translate(-65%);
    }
    #btn-6:checked ~ .slider-wrapper .text-inner .text-texts {
        transform: translate(-83%);
    }
}